.normal {
	font-size: 11vmin;
	color: #999999;
	font-family: Tahoma,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
}
.sunny {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/sunny.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align:center;
}
.reactor {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/reactor.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.shine {
    font-size: 11vmin;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: transparent;
    background-image: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow: hidden;
}
.shine:before {
        width: 140%;
        height: 140%;
        content: "";
        background-image: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.5) 48%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0) 100%);
        -webkit-animation-name: ShineAnimation;
        -webkit-animation-duration: 5s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: cubic-bezier(0.12, 0.89, 0.98, 0.47);
        -moz-animation-name: ShineAnimation;
        -moz-animation-duration: 5s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: cubic-bezier(0.12, 0.89, 0.98, 0.47);
        -ms-animation-name: ShineAnimation;
        -ms-animation-duration: 5s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: cubic-bezier(0.12, 0.89, 0.98, 0.47);
        display: block;
        position: absolute;
        /*-webkit-background-clip: text;*/
        top: -40%;
        left: -140%;
        z-index: 2;
        -webkit-transform: skew(-20deg);
        transform: skew(-20deg);
    }
.sparks {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/sparks.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.spin {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/spin.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 5000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease;
	-moz-animation-name: spin;
	-moz-animation-duration: 5000ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease;
	-ms-animation-name: spin;
	-ms-animation-duration: 5000ms;
	-ms-animation-iteration-count: infinite;
	-ms-animation-timing-function: ease;
	-o-transition: rotate(3600deg);
}
.spin3d {
  	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/spin.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
    -webkit-animation-name: spin3d;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 6s;

    animation-name: spin3d;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.matrix {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/matrixcode.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.blue {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/blue.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}
.glitch {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/glitch.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	-webkit-animation: swing 0.3s ease;
     animation: swing 0.3s ease;
     -webkit-animation-iteration-count: infinite;
     animation-iteration-count: infinite;
}
.fire {
	font-size: 11vmin;
	color: #000000;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: transparent;
	background-image: url(videos/fire.gif);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@-webkit-keyframes spin3d {
	from { -webkit-transform: rotateY(0deg);    }
	to   { -webkit-transform: rotateY(-360deg); }
}
@keyframes spin3d {
	from {
		  -moz-transform: rotateY(0deg);
		  -ms-transform: rotateY(0deg);
		  transform: rotateY(0deg);
	}
	to {
		  -moz-transform: rotateY(-360deg);
		  -ms-transform: rotateY(-360deg);
		  transform: rotateY(-360deg);
	}
}

@-moz-keyframes ShineAnimation {
    from {left: -100%;}

    to {left: 100%;}
}
@-webkit-keyframes ShineAnimation {
    from {left: -100%;}

    to {left: 100%;}
}
@keyframes ShineAnimation {
    from {left: -100%;}

    to {left: 100%;}
}
@-webkit-keyframes Gradient {
    0% {background-position: 0% 50%}

    50% {background-position: 100% 50%}

    100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
    0% {background-position: 0% 50%}

    50% {background-position: 100% 50%}

    100% {background-position: 0% 50%}
}

@keyframes Gradient {
    0% {background-position: 0% 50%}

    50% {background-position: 100% 50%}

    100% {background-position: 0% 50%}
}